<div class="content">

    <div class="wrapper minigrid">
    {{#each items}}
        <div class="{{../grid-class}}">
            <img src="{{src}}" alt="">
        </div>
    {{/each}}
    </div>

</div>
