<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="mail@bowlofcompassion.org">
    <input type="hidden" name="lc" value="DE">
    <input type="hidden" name="item_name" value="Einmalige Spende an A Bowl of Compassion e.V.">
    <p>
        <input type="text" name="amount" id="footer-amount" oninput="this.value = this.value.replace(',', '.');" class="donation-amount" value="10"> <strong>Euro</strong>
    </p>
    <script>
    document.getElementById('footer-amount').value = Math.round(Math.random()*10)+5;
    </script>
    <input type="hidden" name="currency_code" value="{{#if currency}}{{currency}}{{else}}EUR{{/if}}">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="tax_rate" value="0.000">
    <input type="hidden" name="shipping" value="0.00">
    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
    <input type="submit" value="Mit PayPal spenden!" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
