---
title: About us
---

{{pagemeta meta.about-us}}

 {{> _topbar}}

<div class="content">

	<div class="wrapper minigrid">

		<div class="col w8">
			<h1>{{about.headline}}</h1>
			{{#each about.block-01.paragraphs}}
			<p>{{{.}}}</p>
			{{/each}}
		</div>

		<div class="col w1"></div>

		<div class="col w3">
			<div class="box primary">
				<p class="xl">Über <span class="xxxl">140.000</span> Mahlzeiten serviert.</p>
			</div>
		</div>

	</div>
</div>
