---
title: Finanzierung
category: p-financing
---

{{pagemeta meta.financing}}

{{> _topbar}}

<div class="content">

    <div class="wrapper minigrid">

        <div class="col w8">
            <h1>{{financing.headline}}</h1>
            {{#each financing.block-01.paragraphs}}
            <p>{{{.}}}</p>
            {{/each}}
        </div>

        <div class="col w4">
            <img src="{{financing.sidebar.img}}" alt="">
        </div>

    </div>
</div>
