---
title: Idee
category: p-idea
---

{{pagemeta meta.idea}}

{{> _topbar}}

<div class="content">

{{#with idea}}
	<div class="wrapper minigrid">

		<h1>{{headline}}</h1>

		<div class="col w8">
			{{#each paragraphs}}
			<p>{{{.}}}</p>
			{{/each}}
		</div>

		<div class="col w4 phone-4">
			{{#each img}}
			<div class="col
				{{#compare size "half"}}w6{{/compare}}
				{{#compare size "full"}}w12{{/compare}}">
				<img src="{{src}}">
			</div>
			{{/each}}
			<!--<div class="col w6">1</div>
			<div class="col w6">2</div>
			<div class="col w6">3</div>
			<div class="col w6">4</div>-->
		</div>

	</div>

{{/with}}
</div>
