---
title: Test
---

<div class="stage">

</div>

<div class="content">

	<div class="wrapper minigrid">

		<div class="col w8">
			<h1>Eine kleine Spende mit großer Wirkung</h1>
			<p>Wir bauen und betreiben Schulen und Suppenküchen in Armutsregionen in Indien. Mit deiner Spende kannst du helfen alten Menschen und bedürftigen Kindern ein würdevolles Leben zu ermöglichen. </p>
		</div>

		<div class="col w1"></div>

		<div class="col w3">
			<div class="box primary">
				<p class="xl">Über <span class="xxxl">140.000</span> Mahlzeiten serviert.</p>
			</div>
		</div>

	</div>
</div>

<div class="content">

	<div class="wrapper minigrid">
		<div class="col w3">
			<h2>Unsere Mission</h2>
			<p>Bla blabla bla blablabl blaba bla blabla blablabla</p>
		</div>
		<div class="col w3">
			<h2>Schulbildung</h2>
			<p>Bla blabla bla blablabl blaba bla blabla blablabla</p>
		</div>
		<div class="col w3">
			<h2>Warme Mahlzeiten</h2>
			<p>Bla blabla bla blablabl blaba bla blabla blablabla</p>
		</div>
		<div class="col w3">
			<h2>Jetzt spenden!</h2>
			<p>Bla blabla bla blablabl blaba bla blabla blablabla</p>
		</div>
	</div>

</div>