---
title: Bowl of Compassion e.V.
category: home
---

{{pagemeta meta.home}}

{{> _topbar}}

<div class="content">

	<div class="wrapper minigrid">

		<div class="col w8 phone-4">
			<h1>{{home.block-01.headline}}</h1>
		{{#each home.block-01.paragraphs}}
			<p>{{.}}</p>
		{{/each}}
		</div>

		<div class="col w1 phone-0"></div>

		<div class="col w3 phone-4">
			{{> _box-meals}}
		</div>

	</div>
</div>

<div class="content">

{{> _overview}}

</div>