---
category: p-legal
---

{{pagemeta meta.legal}}

{{> _topbar}}

<div class="content">

    <div class="wrapper minigrid">

        <div class="col w12">
            <h1>{{legal.headline}}</h1>
        </div>

        {{> _legal}}

    </div>

</div>
