---
category: p-privacy
---

{{pagemeta meta.privacy}}

{{> _topbar}}

<div class="content">

    <div class="wrapper minigrid">

        <div class="col w12">
            <h1>{{privacy.headline}}</h1>
        </div>

        {{> _privacy}}
        

    </div>

</div>
