<form action="https://www.paypal.com/cgi-bin/webscr" method="post">

	<input type="hidden" name="cmd" value="_xclick-subscriptions">
	<input type="hidden" name="business" value="mail@bowlofcompassion.org">
	<input type="hidden" name="lc" value="DE">
	<input type="hidden" name="item_name" value="Dauerspende an A Bowl of Compassion e.V.">
	<input type="hidden" name="no_note" value="1">
	<input type="hidden" name="no_shipping" value="1">
	<input type="hidden" name="src" value="1">
	<input type="hidden" name="a3" value="5.00">
	<input type="hidden" name="p3" value="1">

	<input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted">
	<input type="hidden" name="on0" value="Donation Frequency">

	<input type="hidden" name="charset" value="utf-8">

	<p>
		<input type="radio" name="t3" value="M" checked> Monatlich<br>
		<input type="radio" name="t3" value="Y"> Jährlich
	</p>

	<input type="hidden" name="currency_code" value="EUR">

	<p>
		<input type="hidden" name="on1" value="Spendenbetrag">Spendenbetrag:<br>
		<input type="text" name="a3" maxlength="200" value="5" oninput="this.value = this.value.replace(',', '.');" class="donation-amount" > <strong>Euro</strong>
	</p>

	<input type="submit" value="Spendenauftrag einrichten" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">

	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">

</form>

<script>
// document.querySelector('[name="t3"]').addEventListener(function(el) {

// });
</script>