
<footer>
	<div class="wrapper minigrid">

		<div class="col w3 phone-4">

			<h3>Spendenkonto</h3>
			<p>
				Kontonummer: 911001802<br>
				Bankleitzahl: 44050199<br>
				Stadtsparkasse Dortmund<br>
				BIC: DORTDE 33XXX<br>
				IBAN: DE87440501990911001802
			</p>

		</div>

		<div class="col w3 phone-4">

			<h3>A Bowl of Compassion e.V.</h3>

			<p>
				(VR-Nr. 6305)<br>
				Michael Saatkamp<br>
				Emkraft 5<br>
				44319 Dortmund<br>
				GERMANY
			</p>

		</div>

		<div class="col w3 phone-4">
			<h3>A Bowl of Compassion India</h3>
			<p>
				Murari Singh <br>
				Kalyan House<br>
				Tika Bika Village<br>
				Bodh Gaya, Dist.Gaya, 824231 Bihar<br>
				INDIA
			</p>
		</div>

		<div class="col w3 phone-4">
			<p>
				<a href="#impressum">Impressum</a><br>
				<a href="#kontakt">Kontakt</a><br>
				<a href="#satzung">Satzung</a>
			</p>
		</div>

	</div>
</footer>

</div> <!-- end #wrapper -->

</body>
</html>
