<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_xclick">
	<input type="hidden" name="business" value="mail@bowlofcompassion.org">
	<input type="hidden" name="lc" value="DE">
	<input type="hidden" name="item_name" value="Einmalige Spende an A Bowl of Compassion e.V.">
	<p>Spendenbetrag: <br>
		{{!-- <select name="amount">
			<option value="5.00">5,00</option>
			<option value="10.00">10,00</option>
			<option value="15.00">15,00</option>
			<option value="20.00">20,00</option>
			<option value="25.00">25,00</option>
			<option value="50.00">50,00</option>
			<option value="100.00">100,00</option>
			<option value="150.00">150,00</option>
			<option value="200.00">200,00</option>
			<option value="250.00">250,00</option>
			<option value="500.00">500,00</option>
		</select> Euro --}}
		<input type="text" name="amount" oninput="this.value = this.value.replace(',', '.');" class="donation-amount" value="10"> <strong>Euro</strong>
	</p>
	<input type="hidden" name="currency_code" value="{{#if currency}}{{currency}}{{else}}EUR{{/if}}">
	<input type="hidden" name="button_subtype" value="services">
	<input type="hidden" name="no_note" value="0">
	<input type="hidden" name="tax_rate" value="0.000">
	<input type="hidden" name="shipping" value="0.00">
	<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
	<input type="submit" value="Jetzt spenden!" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>