.home {

	.content {
		padding-top: 92px;
	}

	.content + .content {
		padding-top: 48px;
		@include respond-to(phone) {
			padding-top: 8px;
		}
	}

	.stage {

		background-image: url(../img/tmp/stage2.jpg);
		height: 400px;

		@include respond-to(phone) {
			height: 320px;
		}

	}

}