<h2>A Bowl of Compassion e.V.</h2>

<div class="col w6">

	<p>
		c/o Michael Saatkamp<br>
		Emkraft 5<br>
		44319 Dortmund<br>
		GERMANY
	</p>

	<h3>Gemeinschaftlich vertretungsbefugt</h3>

	<p>
		<strong>1. Vorsitzender</strong> <br>
		Michael Saatkamp<br>
		mail@bowlofcompassion.org
	</p>

	<p>
		<strong>2. Vorsitzende</strong> <br>
		Barbara Dahlhoff
	</p>

</div>

<div class="col w6">
	<p>
		<strong>Registergericht:</strong> Amtsgericht Dortmund<br>
		<strong>Registernummer:</strong> VR-Nr. 6305
	</p>

	<p>
		<strong>Verantwortlicher i.S.d. ยง 55 Abs. 2 RStV:</strong> <br>
		Manuel Bieh<br>
		Zelterstr. 10<br>
		10439 Berlin<br>
		info@manuelbieh.de
	</p>
</div>