$light-color: #fff;
$dark-color: #000;
$grey-color: #dadada;
$link-color: #6B70D0;

$primary: #545e8e;
//$primary: #4ebff7;
//

$bg-header: $primary;

$footer-bg: #2c2c2c;
$footer-text: #969696;

$button-face: #ffd133;

$text-grey: #999;