$mq-phone: "all and (max-width: 767px)";
$mq-tablet: "all and (min-width: 768px) and (max-width: 1151px)";
$mq-tablet-portrait: "all and (min-width: 768px) and (max-width: 1023px)";
$mq-tablet-landscape: "all and (min-width: 1024px) and (max-width: 1151px)";
$mq-tablet-and-above: "all and (min-width: 768px)";
$mq-tablet-and-below: "all and (max-width: 1151px)";
$mq-desktop: "all and (min-width: 1152px)";
