* {
	box-sizing: border-box;
	margin: 0; padding: 0;
}

html, body {
	height: 100%;
}

body {
	background: $light-color;
	color: $dark-color;
	font-family: Dosis, Arial, Helvetica, Sans-Serif;
	font-size: 20px;
	line-height: 1.75em;
}

h1, h2, h3, h4, h5 {
	font-weight: 600;
	line-height: 1.2em;
	margin-bottom: 0.5em;
}

p {
	margin-bottom: 0.5em;
}

button, input[type="button"], input[type="submit"], .button {

	background: $button-face;
	border: 0;
	color: $dark-color;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5em;
	outline: none;
	padding: 8px 16px;
	position: relative;
	text-decoration: none;

	&:hover:after {
		content: "";
		background: rgba(0,0,0,0.1);
		position: absolute;
		position: a;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

}

img {
	max-width: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

.text-inverse {
	color: $light-color;
}


@media #{$mq-tablet-and-below} {
	body {
		font-size: 16px;
	}
}
