@import "config";
@import "mixins/_respond-to";

@import "colors";
@import "defaults";
@import "fonts";

@import "blocks";
@import "minigrid";

@import "modules/_footer";
@import "modules/_topbar";
@import "modules/_logo";

@import "pages/_home";
@import "pages/_chronicle";
@import "pages/_shop";
@import "pages/_donate";

@import "responsive";

header {
	background: $bg-header;
}

#wrapper {
	padding-top: 88px;
	@include respond-to(phone) {
		padding-top: 64px;
	}
	@include respond-to(tablet) {
		padding-top: 60px;
	}
	max-width: 100%;
	overflow: hidden;
}

.wrapper {
	margin: auto;
	position: relative;
	width: 100%;
}

@media #{$mq-desktop-xl} {
	.wrapper {
		max-width: 1440px;
		min-width: 1152px;
	}
}

@media #{$mq-desktop} {
	.wrapper {
		// max-width: 1280px;
		// min-width: 1152px;
		max-width: calc(100% - 48px);
		min-width: 1104px;
		margin: 0 24px;
	}
}

@media #{$mq-tablet} {
	.wrapper {
		// max-width: 1151px;
		// min-width: 768px;
		max-width: calc(100% - 48px);
		min-width: 720px;
		margin: 0 24px;
	}
}

@media #{$mq-phone} {
	.wrapper {
		max-width: calc(100% - 32px);
		margin: 0 16px;
	}
}


// #footer-pad {
// 	margin-top: 384px;
// 	height: 32px;
// }

.content {
	clear: both;
	padding-top: 96px;
	@include respond-to(phone) {
		padding-top: 32px;
	}
	.content {
		padding-top: 48px;
	}
	.content:first-child {
		padding-top: 0;
	}
}

.content + .content {
	padding-top: 48px;
	@include respond-to(phone) {
		padding-top: 8px;
	}
}

.content a:hover {
	// border-bottom: 1px solid;
}

.stage {

	background-image: url(../img/bgs/wall-small.jpg);
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;

	.wrapper {
		height: 100%;
	}
}

.b-overview {

	a {
		color: black;
	}

	a:hover {
		text-decoration: none;
		color: $text-grey;
		opacity: 0.7;
	}

}

.is-primary {
	color: $primary;
}

.is-greyed {
	color: $text-grey;
}

.flag {
	width: 48px;
	height: 32px;
}