@import "config";
@import "mixins/_respond-to";

@import "colors";
@import "defaults";
@import "fonts";

@import "blocks";
@import "minigrid";

@import "modules/_footer";
@import "modules/_topbar";
@import "modules/_logo";

@import "pages/_home";
@import "pages/_chronicle";
@import "pages/_shop";

@import "responsive";

header {
	background: $bg-header;
}

#wrapper {
	padding-top: 88px;
	@include respond-to(phone) {
		padding-top: 64px;
	}
	max-width: 100%;
	overflow: hidden;
}

.wrapper {
	margin: auto;
	position: relative;
	width: 100%;
}

@media #{$mq-desktop} {
	.wrapper {
		max-width: 1440px;
		min-width: 1152px;
	}
}

@media #{$mq-tablet} {
	.wrapper {
		max-width: 1151px;
		min-width: 768px;
	}
}

@media #{$mq-phone} {
	.wrapper {
		max-width: 767px;
	}
}


// #footer-pad {
// 	margin-top: 384px;
// 	height: 32px;
// }

.content {
	clear: both;
	padding-top: 96px;
	@include respond-to(phone) {
		padding-top: 32px;
	}
	.content {
		padding-top: 48px;
	}
	.content:first-child {
		padding-top: 0;
	}
}

.content + .content {
	padding-top: 48px;
	@include respond-to(phone) {
		padding-top: 8px;
	}
}

.stage {

	background-image: url(../img/bgs/wall-small.jpg);
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;

	.wrapper {
		height: 100%;
	}
}

.is-primary {
	color: $primary;
}

.is-greyed {
	color: $text-grey;
}